version: '3.9'

volumes:
    mmornDev: {}
    redisData: {}

services:
    db:
        image: postgres:17
        restart: always
        shm_size: 128mb
        ports:
            - 5100:5432
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: mmorn
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 1s
            timeout: 5s
            retries: 5
            start_period: 10s

    redis:
        image: redis:7-alpine
        container_name: redis
        restart: always
        ports:
            - 6379:6379
        volumes:
            - redisData:/data
        command: redis-server --appendonly yes
