version: '3.9'

volumes:
    mmornDev: {}
    redisData: {}

services:
    db:
        image: postgres
        restart: always
        shm_size: 128mb
        ports:
            - 5100:5432
        volumes:
            - mmornDev:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: mmorn
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'pg_isready -U postgres -h 127.0.0.1 -p 5432 -d postgres',
                ]
            interval: 2s
            timeout: 10s
            retries: 60
            start_period: 30s

    redis:
        image: redis:7-alpine
        container_name: redis
        restart: always
        ports:
            - 6379:6379
        volumes:
            - redisData:/data
        command: redis-server --appendonly yes
